.god-box{
  width: 200px;
  height: 200px;
  background-color: coral;
  text-align: center;
  line-height: 200px;
}

.god-box h2 {
  color: white;
  font-weight: 600;
}

.god-box:hover{
  background-color: blue;
}